:root {
    --black: #000;
    --grey: #181818;
    --btn-fill: #131313;
    --light-grey: #282828;
    --light-light-grey: #303030;
    --white: #ffffff;
    --green: #1ed760;
}
.player{
    bottom: 0;
}
.sidebar {
  justify-content: space-between;
}
.main-content{
    background: linear-gradient(to bottom, #90AEA7, #000 80% );
    height: 100vh;
}
.main-content{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.icon-links {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
    cursor: pointer;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 2px;
  }
  .icon-links:hover {
    opacity: 1;
    background-color: var(--light-grey);
  }
  .home-link{
    opacity: 1;
    background-color: var(--light-grey);
  }
  .icon-links img {
    width: 20px;
    height: 20px;
  }
  .pl-list-img {
    height: 30px;
    width: 30px;
  }
  .album-pic{
    width: 100%;
    padding-top: 20px;
    background-color:#000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .album-pic{
    position: sticky;
    bottom: 30px;
  }
  .playlist-top{
    display: flex;
    align-items:last baseline;
  }

  /* main css */
  .main-content-1 {
    display: flex;
    width: 100%;
    padding-top: 6rem;
}
  .main-content-1 img{
    display: flex;
    justify-content: flex-end;
    display: flex;
}
.headings{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.headings h1{
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 90px;
    font-weight: 900;
    margin: 0;
}
.headings-p2{
    margin: 0px;
    color:rgb(176, 176, 176);
}
.headings-p1, .headings-p2 span{
    font-weight: 700;
    color: var(--white);
}
.main-content-2{
    padding: 1.5rem 2rem;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0,0,0, 0.15), rgb(18,18,18) 20% );
    padding-bottom: 7rem;
}
.play-fav-more{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}
.play-fav-more img{
    cursor: pointer;
}
/* songs list */
.row{
    display: flex;
    width: 100%;
}
.col-num{
    width: 5%;
}
.col-title{
    width: 25%;
}
.col-album{
    width: 25%;
}
.col-date{
    width: 20%;
}
.col-duration{
    width: 25%;
}
.col-num, .col-date{
    text-align: center;
}
.col-title, .col-album{
    text-align: start;
}
.col-duration{
    text-align: end;
    padding-right: 10px;
}
.row-head{
    color: rgb(176, 176, 176);
    border-bottom: 1px solid rgb(103, 103, 103);
    margin-bottom: 16px;
}
.row-data{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-block: 5px;
    margin-bottom: 8px;
}
.title-data{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.title-data h4{
    color:rgb(228, 228, 228);
}
.title-data h4, .title-data p{
    margin: 0;
}
.duration-data{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}
.row-data{
    color: rgb(176, 176, 176);
}
.row-data:hover{
    background-color: var(--light-light-grey);
}








/* copeid */
/* .albums {
    width: 100%;
    height: fit-content;
    padding: 0;
    gap: 100rem;
}

.sidebar-img {
    position: sticky;
    bottom: 95px;
    width: 100%;
    height: 30%;
}

.albums img {
    width: 100%;
}

.side-wrap {
    margin-left: 1.4rem;
}

.library {
    padding: 0;
}

.text-r1 {
    opacity: 0.6;
    color: var(--white);
    word-wrap: break-word;
}

.playlist-heading {
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    word-wrap: break-word
}

.lower {
    padding: 5rem;
    background-color: #00000038;
}

.playlist-icon img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.grid-item-1 {
    width: 200px;
}

td,
th {
    padding: 10px;
    margin-top: 15px 15px;
}

th {
    opacity: 0.6;
}

tr:hover {
    background-color: var(--box-grey);
    transition: all 0.8s ease-out;
}


.profile {
    display: none;
} */
 


